#home_container {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 600px;
  width: 100%;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  filter: alpha(opacity=10);
}
.img {
  position: absolute;
  top: 40%;
  opacity: 1 !important;
  filter: alpha(opacity=50);
}
.btn {
  position: relative;
  top: 50%;
  left: 40%;
}
h3.display-3 {
  color: rgb(11, 124, 216) !important;
}

form {
  position: absolute;
  width: 50%;
  top: 20% !important;
  left: 20% !important;
  border-radius: 20px !important;
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}
.input_login {
  border-radius: 18px !important;
  border: 2px solid #bff;
}
.navbar_login {
  padding-left: 10px !important;
}
.btn-navbar {
  border-radius: 14px !important;
}
.movies-table {
  position: relative;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-group {
  padding-top: 80px;
  padding-left: 30%;
}
